@page
@model Website.Pages.AuthorizeModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<h1>Secured Page</h1>

<form method="post">
    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password" />
    <button type="submit">Submit</button>
</form>