@page
@model IndexModel
@{
    ViewData["Title"] = "View Meals";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="text-center">
    <h1 class="title">Weekly Meals</h1>
</div>

<div class="text-center">
    <table class="MenuTable">
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (string s in Model.LunchMenu)
                {
                    <td>@s</td>
                }
            </tr>

            <tr>
                @foreach (string s in Model.DinnerMenu)
                {
                    <td>@s</td>
                }
            </tr>
        </tbody>
    </table>
</div>
