@page
@model Website.Pages.MealSignUpsModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<form method="post">
    <div>
        <h3>Enter ID</h3>
        <input type="text" asp-for="ID" placeholder="ID" />
        <input type="submit" value="Enter" />
        <p class="text-center">
            This is the weekly meal sign-up. If you have a meeting or any event that causes you to miss a meal, mark it here.
            Your schedule will revert to your default plan at the end of each week.
        </p>
    </div>

    <div>
        @if (Model.MemberToShow != null)
        {
            <input type="hidden" asp-for="MemberID" />

            <table class="MenuTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Lunch</th>
                        @for (int i = 0; i < Model.MemberToShow.TempSignUp.Length; i += 2)
                        {
                            var Items = Model.GetLunchItems(Model.MemberToShow.TempSignUp[i]);
                            <td>
                                <select asp-items="Items" name="@Model.comboBoxNames[i]"></select>
                            </td>
                        }
                    </tr>
                    <tr>
                        <th>Dinner</th>
                        @for (int i = 1; i < Model.MemberToShow.TempSignUp.Length; i += 2)
                        {
                            var Items = Model.GetDinnerItems(Model.MemberToShow.TempSignUp[i]);
                            <td>
                                <select asp-items="Items" name="@Model.comboBoxNames[i]"></select>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>


            <div class="text-center admin-action">
                <input type="submit" value="Save" asp-page-handler="EditSignUp" class="btn-save" />
            </div>

            <p class="confirmation-message">
                @Model.SaveConfirmationMessage
            </p>
        }
    </div>
</form>