@page
@model Website.Pages.PermaSignUpModel
@{
}
<form method="post">
    <div>
        <h3>Enter ID</h3>

        <input type="text" asp-for="ID" placeholder="ID" />
        <input type="submit" value="Enter" />
    </div>
    <div>
        @if (Model.MemberToShow != null)
        {
            <input type="hidden" asp-for="MemberID" />
            <table class="MenuTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Lunch</th>
                        @for (int i = 0; i < Model.MemberToShow.DefaultSignUp.Length; i += 2)
                        {
                            List<SelectListItem> Items = Model.GetItems(Model.MemberToShow.DefaultSignUp[i]);

                            <td>
                                <select asp-items="Items" name=@Model.comboBoxNames[i]></select>
                            </td>
                        }
                    </tr>
                    <tr>
                        <th>Dinner</th>
                        @for (int i = 1; i < Model.MemberToShow.DefaultSignUp.Length; i += 2)
                        {
                            List<SelectListItem> Items = Model.GetItems(Model.MemberToShow.DefaultSignUp[i]);

                            <td>
                                <select asp-items="Items" name=@Model.comboBoxNames[i]></select>
                            </td>
                        }
                    </tr>


                </tbody>
            </table>
            <input type="submit" value="Save" asp-page-handler="EditSignUp" />
        }
    </div>
</form>